.changePasswordComponent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $backgroundWhite;
  .changePasswordContainer {
    width: 50%;
    height: 70%;
    background-color: $white1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $border1;
    box-sizing: border-box;
    .check {
      position: absolute;
      width: 15rem;
      height: 15rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15rem;
      color: $greenCheck;
      transition: 0.5 ease all;
    }
    .inputPassword {
      width: 50%;
      height: 10%;
      margin: 1rem;
    }
    .buttonPassword {
      width: 10rem;
      height: 2.5rem;
      margin-left: 2rem;
      p {
        color: white;
        font-weight: bold;
      }
    }
  }
  @media screen and (max-width: 900px) {
    .changePasswordContainer {
      width: 80%;
      height: 70%;
      background-color: $white1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: $border1;
      box-sizing: border-box;
      .inputPassword {
        width: 70%;
        height: 15%;
        margin: 1rem 3.5rem 1rem 1rem;
      }
      .buttonPassword {
        margin: 0;
      }
    }
  }
}
