.firstHobbiesComponent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 85%;
    font-family: $fontStyle;
    color: $fontcolor1;
    background-color: $white1;
    border: $border1;
    h2 {
        text-align: center; 
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
    }
    .hobbiesContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $fontCasual;
        .hobbyGrid{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-gap: 0.5rem;
            .hobby{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $br;
                cursor: pointer;
                color: white;
                height: 2.5rem;
                p {
                    text-align: center;
                    margin: 0;
                    padding: 0.2rem;
                    font-weight: bold;
                }
            }
        }
    }
}


@for $i from 1 through $repeat {
    .hobby:nth-child(#{length($colorTags)}n+#{$i}){
        background-color: nth($colorTags, random(length($colorTags)));    }
}

.selectedHobbies {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    height: 2.5rem;
    width: 90%;
    margin-bottom: 1rem;
    font-family: $fontCasual;
    .selected{
        border-radius: $br;
        margin: 0.2rem;
        height: 2.5rem;
        width: auto;
        background-color: $logoColor;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-align: center;
            margin: 0;
            padding: 0.2rem;
            font-weight: bold;
        }
    }
}

.searchNewHobby{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    height: 2.5rem;
    width: 70%;
    margin-top: 4rem;
    font-family: $fontCasual;
    p{
        font-weight: bold;
    }
}

.hobbyButton{
    width: 70%;
    height: 2.5rem;
    display: flex;
    margin-bottom: 1.5rem;
    font-family: $fontCasual;
    p{
        color: white;
        font-weight: bold;
        font-size: 18px;
    }
}

.message {
    height: 2rem;
    font-family: $fontCasual;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        color: #3e9931;
        font-weight: bold;
        text-align: center;
    }
}

// Media queries

@media only screen and (max-width: 1030px) {
    .firstHobbiesComponent{
        width: 100%;
        height: 100%;
        h2 {
            font-size: 1.5rem;
            padding: 0.5rem;
        }
        .hobbiesContainer{

            .hobbyGrid{
                display: grid;
                grid-template-columns: repeat(3, 1fr);  
                .hobby{
                    height: 2rem;
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }

}
