.headerComponent {
    box-sizing: border-box;
    height: 4rem;
    width: 100%;
    border: $border1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: white;
}

.logo{
    height: 80%;
}

.navbar{
    position: absolute;
    left: 70%;
    width: 20rem;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width:950px){
    .navbar{
        display: none;
    }
}