.headerComponent {
    box-sizing: border-box;
    height: 4rem;
    width: 100%;
    border: $border1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: white;
}

.logo{
    height: 80%;
}