.addPostContainer{
    width: 60rem;
    height: 90vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    font-family: $fontCasual;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
    h1{
        font-family: $fontStyle;
        width: 100%;
        text-align: center;
    }
    .addPostInfo{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            position: absolute;
        }
        .secondStepContainer{
            width: 100%;
            height: 100%;
            display: flex;
            .inputEvent{
                width: 50%;
                margin-bottom: 4rem;
                .titles{
                    font-weight: bold;
                }
                .hobbies{
                    height: 3rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .hobby {
                        padding: 0.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: $br;
                        border: 2px solid $logoColor;
                        background-color: white;
                        color: $logoColor;
                        font-weight: bold;
                        cursor: pointer;
                    }
                    .hobby:hover{
                        background-color: #e9e3e3;
                    }
                }
              
            }
        }
    }
}