.postComponent {
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
  border-radius: $br;
  border: $border1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .creator {
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: $br $br 0 0;
    box-sizing: border-box;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    .avatarName {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .iconBtnAvatar {
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        .iconBtn {
          border-radius: 50%;
          color: white;
          font-size: 2.5rem;
          background-color: $logoColor;
        }
      }
      p {
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: bold;
      }
      .location {
        font-weight: lighter;
        position: relative;
        top: 1rem;
        right: 5rem;
        font-size: 0.8rem;
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      left: 5rem;
      top: 3rem;
      position: relative;
      .dropDownMenu {
        background-color: white;
        width: 8rem;
        border: $border1;
        box-sizing: border-box;
        border-radius: $br;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        display: none;
        flex-direction: column;
        padding: 0.5rem;
        z-index: 1;
        .sections {
          height: 3rem;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-radius: $br;
          cursor: pointer;
          z-index: 1;
          p {
            margin-left: 0.5rem;
          }
        }
        .sections:hover {
          background-color: #f1a8a9;
          font-weight: bold;
        }
      }
    }
    .threeDots {
      cursor: pointer;
      width: 2rem;
    }
  }
  .picture {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .subMenu {
    background-color: white;
    height: 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    .likeMenu {
      display: flex;
      flex-direction: row;
      align-items: center;
      .like {
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.5ms ease all;
      }
      .like:active {
        font-size: 1.6rem;
      }
      .likeCounting {
        font-weight: bold;
        margin: 0;
        margin-left: 1rem;
        padding: 0;
      }
    }
    .hobby {
      background-color: rgba(255, 255, 255, 0);
      position: relative;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  .description {
    min-height: 4rem;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-radius: 0 0 $br $br;
    p {
      margin-right: 1rem;
      margin-left: 1rem;
      text-align: justify;
      b {
        cursor: pointer;
      }
      b:hover {
        text-decoration: underline;
      }
    }
  }
  .timer {
    font-size: 0.8rem;
    margin: 0;
    padding: 0 0 0 1rem;
    background-color: white;
  }
  .commentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    .commentCollection {
      width: 100%;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .comment {
        display: flex;
        width: 90%;
        flex-direction: row;
        justify-content: left;
        box-sizing: border-box;
        p {
          margin: 0.5rem 0 0.5rem 0;
          padding: 0;
        }
        .userName {
          font-weight: bold;
          cursor: pointer;
          margin-right: 1rem;
        }
        .userName:hover {
          text-decoration: underline;
        }
      }
    }
    .inputComments {
      height: 3.5rem;
      width: 100%;
      display: flex;
      box-sizing: border-box;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      input {
        font-size: 16px;
        width: 65%;
        padding: 12px 20px;
        display: inline-block;
        border-radius: 4rem;
        border: 1px solid #ccc;
        background-color: $backgroundWhite;
      }
      p {
        margin-left: 2rem;
        color: $blue;
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .postComponent {
    height: auto;
    .creator {
      .avatarName {
        .location {
          //width: 5rem;
        }
      }
      .menu {
        left: 2rem;
      }
    }
    .description {
      min-height: 2rem;
    }
  }
}
