.changeProfilePicComponent {
    width: 100%;
    height: 70vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 1rem;
    box-sizing: border-box;
    padding-bottom: 1rem;
    .pictureContainer {
        width: 15rem;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15rem
    }
    .inputChangePicture{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        .inputFileContainer{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .buttonFile{
            height: 3rem;
            border: 2px solid $logoColor;
            border-radius: $br;
            color: $logoColor;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.5rem 0 0.5rem;
            cursor: pointer;
        }
        .buttonFile:hover{
            background-color: $lable5;
        }
    }
    @media screen and (max-width: 900px) {
        .inputChangePicture{
            flex-direction: column;
            justify-content: center;
            .inputFileContainer{
                width: 70%;
                margin: 1rem;
                
            }
        }
    }
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.iconPic{
    font-size: 4rem;
    color: $logoColor;
}
// .inputfile + label {
//     font-size: 1.25em;
//     font-weight: 700;
//     color: white;
//     background-color: black;
//     display: inline-block;
//     cursor: pointer;
// }

// .inputfile:focus + label,
// .inputfile + label:hover {
//     background-color: red;
// }
// .inputfile:focus + label {
//     outline: 1px dotted #000;
//     outline: -webkit-focus-ring-color auto 5px;
// }